{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-empty-interface": "off"
  },
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}
